@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-regular', sans-serif;
}

.App {
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    text-decoration: none;
}

.container {
    height: 120vh;
    width: 98.2vw;

    display: flex;
}


.left {
    height: 100%;
    width: 60%;
    background-image: url(./img/bg-01.jpg);
    background-position: center;
    background-size: cover;
}

.right {
    width: 40%;
    padding: 170px 30px 0px 30px;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .right {
      width: 100%;
    }
  
    .left {
        display: none;
      }
}





.form {
    width: 90%;

    display: flex;
    flex-direction: column;
}

.heading {
    color: #333;
    height: 10%;
    font-size: 30px;
    padding-bottom: 45px;
}

.eInputDiv {
    height: 80px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.eInputDiv input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    padding: 0 26px;

}

.pInputDiv {
    height: 80px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

::-webkit-input-placeholder {
    font-size: 18px;
    color: #999;
    line-height: 1.2;
    width: 100%;
}

.pInputDiv input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    padding: 0 26px;
}

.rfDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 3px;
    width: 100%;

}

.input-checkbox {
    cursor: pointer;
}

.label-checkbox {
    font-size: 16px;
    color: #999;
    line-height: 1.4;
    padding-left: 6px;
    cursor: pointer;
}

.txt1 {
    font-size: 16px;
    line-height: 1.4;
    color: #555;
}

.form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .4s;
    border: none;
    outline: none;
}

.btn:hover {
    background: #302f2f;
    cursor: pointer;
}

.sHeading {
    padding-top: 46px;
    padding-bottom: 20px;
}

.txt2 {
    font-size: 16px;
    line-height: 1.4;
    color: #999;
}

.txt1:hover {
    color: rgb(102, 102, 247);
}


.form-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-social a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.bg-1 {
    background-color: #fff;
    color: #3b5998;
    font-size: 36px;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-2 {
    background-color: #1da1f2;
    color: #fff;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.bg-1:hover {
    color: #302f2f;
}

.bg-2:hover {
    background: #302f2f;
}


@media only screen and (max-width: 800px) {
    .txt1 {
        font-size: 13px;
    }

    .txt2 {
        font-size: 13px;
    }
    

}

